use QLTV_teamfriendly
go

CREATE TABLE [dbo].[The](
	[Ma] [nchar](10) NOT NULL,
	[LoaiThe] [nchar](10) NOT NULL,
	[NgayCap] [datetime] NOT NULL,
	[NgayHetHan] [datetime] NOT NULL,
	[TenDocGia] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NULL,
 CONSTRAINT [PK_The] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TacGia](
	[Ma] [nchar](10) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[SachMuon](
	[STT] [int] NOT NULL,
	[MaMuonSach] [int] NOT NULL,
 CONSTRAINT [PK_SachMuon] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[SachMat](
	[MaSach] [nchar](10) NOT NULL,
	[STT] [int] NOT NULL,
 CONSTRAINT [PK_SachMat_1] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[SachHong](
	[STT] [int] NOT NULL,
	[MaSach] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SachHong] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Sach](
	[Ma] [nchar](10) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[LoaiSach] [nchar](10) NOT NULL,
	[TacGia] [nchar](10) NOT NULL,
	[Gia] [int] NOT NULL,
	[NgonNgu] [nchar](10) NOT NULL,
	[NhaXB] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[Phat](
	[STT] [int] NOT NULL,
	[MaSachMuon] [int] NOT NULL,
	[SoNgay] [int] NOT NULL,
	[ThanhTien] [int] NOT NULL,
 CONSTRAINT [PK_Phat] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[NhaXB](
	[Ma] [nchar](10) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhaXB] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[NgonNgu](
	[Ma] [nchar](10) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NgonNgu] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[MuonSach](
	[MaMuonSach] [int] NOT NULL,
	[MaSach] [nchar](10) NOT NULL,
	[MaThe] [nchar](10) NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[NgayHenTra] [datetime] NOT NULL,
	[NgayTra] [datetime] NULL,
 CONSTRAINT [PK_MuonSach] PRIMARY KEY CLUSTERED 
(
	[MaMuonSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[LoaiThe](
	[Ma] [nchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiThe] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[LoaiSach](
	[Ma] [nchar](10) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiSach] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[DenBu](
	[STT] [int] NOT NULL,
	[MaMuonSach] [int] NOT NULL,
	[SoTien] [int] NOT NULL,
 CONSTRAINT [PK_TienPhat] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


/*Den bu*/
GO
ALTER TABLE [dbo].[DenBu]  WITH CHECK ADD  CONSTRAINT [FK_DenBu_MuonSach] FOREIGN KEY([MaMuonSach])
REFERENCES [dbo].[MuonSach] ([MaMuonSach])
GO
ALTER TABLE [dbo].[DenBu] CHECK CONSTRAINT [FK_DenBu_MuonSach]


/*Muon sach*/
GO
ALTER TABLE [dbo].[MuonSach]  WITH CHECK ADD  CONSTRAINT [FK_MuonSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([Ma])
GO
ALTER TABLE [dbo].[MuonSach] CHECK CONSTRAINT [FK_MuonSach_Sach]
GO
ALTER TABLE [dbo].[MuonSach]  WITH CHECK ADD  CONSTRAINT [FK_MuonSach_The] FOREIGN KEY([MaThe])
REFERENCES [dbo].[The] ([Ma])
GO
ALTER TABLE [dbo].[MuonSach] CHECK CONSTRAINT [FK_MuonSach_The]

/* Phat*/
go
ALTER TABLE [dbo].[Phat]  WITH CHECK ADD  CONSTRAINT [FK_Phat_MuonSach] FOREIGN KEY([MaSachMuon])
REFERENCES [dbo].[MuonSach] ([MaMuonSach])
GO
ALTER TABLE [dbo].[Phat] CHECK CONSTRAINT [FK_Phat_MuonSach]

/*Sach */
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_LoaiSach] FOREIGN KEY([LoaiSach])
REFERENCES [dbo].[LoaiSach] ([Ma])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_LoaiSach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NgonNgu] FOREIGN KEY([NgonNgu])
REFERENCES [dbo].[NgonNgu] ([Ma])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NgonNgu]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXB] FOREIGN KEY([NhaXB])
REFERENCES [dbo].[NhaXB] ([Ma])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXB]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([TacGia])
REFERENCES [dbo].[TacGia] ([Ma])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]

/* Sach Hong*/
GO
ALTER TABLE [dbo].[SachHong]  WITH CHECK ADD  CONSTRAINT [FK_SachHong_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([Ma])
GO
ALTER TABLE [dbo].[SachHong] CHECK CONSTRAINT [FK_SachHong_Sach]

/* Sach Mat*/
GO
ALTER TABLE [dbo].[SachMat]  WITH CHECK ADD  CONSTRAINT [FK_SachMat_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([Ma])
GO
ALTER TABLE [dbo].[SachMat] CHECK CONSTRAINT [FK_SachMat_Sach]

/* Sach Muon*/
GO
ALTER TABLE [dbo].[SachMuon]  WITH CHECK ADD  CONSTRAINT [FK_SachMuon_MuonSach] FOREIGN KEY([MaMuonSach])
REFERENCES [dbo].[MuonSach] ([MaMuonSach])
GO
ALTER TABLE [dbo].[SachMuon] CHECK CONSTRAINT [FK_SachMuon_MuonSach]

/* The*/
ALTER TABLE [dbo].[The]  WITH CHECK ADD  CONSTRAINT [FK_The_LoaiThe] FOREIGN KEY([LoaiThe])
REFERENCES [dbo].[LoaiThe] ([Ma])
GO
ALTER TABLE [dbo].[The] CHECK CONSTRAINT [FK_The_LoaiThe]